@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 28 100% 83%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 44% 93%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 74.2% 50.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 217.2 91.2% 59.8%;
    --muted: 220 10% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 173 80% 90%;
    --accent-foreground: 173 90% 10%;
    --destructive: 0 74.2% 50.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 20% 90%;
    --input: 220 15% 94%;
    --ring: 0 74.2% 50.2%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --theme-blue: 210 80% 26%;
    --theme-blue-foreground: 210 40% 98%;
  }
  .dark {
    --background: 137 10% 20%;
    --foreground: 180 5% 95%;
    --card: 210 44% 93%;
    --card-foreground: 180 5% 95%;
    --popover: 180 14% 7%;
    --popover-foreground: 180 5% 95%;
    --primary: 0 74.2% 50.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 173 20% 15%;
    --secondary-foreground: 173 5% 95%;
    --muted: 180 10% 20%;
    --muted-foreground: 180 5% 60%;
    --accent: 173 50% 25%;
    --accent-foreground: 173 5% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 95%;
    --border: 180 10% 25%;
    --input: 180 10% 25%;
    --ring: 0 74.2% 50.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --theme-blue: 210 80% 26%;
    --theme-blue-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted/20 text-foreground;
  }
  .day-available {
    @apply bg-[#92CAA1] text-white rounded-md;
  }
  .day-available.day_today {
    @apply bg-[#92CAA1] text-white rounded-md border-2 border-primary;
  }
}
